//$color-primary: #1DA1F2;
$color-primary: #EE517D;
//$color-primary: #F9A82C;
$color-black: #14171A;
$color-dark-gray: #657786;
$color-light-gray: #AAB8C2;
$color-extra-light-gray: #E1E8ED;
$color-bg: #15202b;
$hr-color: #38444d;

$post-action-green: #17bf63;
$post-action-blue: #1da1f2;
$post-action-red: #e0245e;

$shadow-white: 0px 0px .5rem 0px rgba($color: $color-light-gray, $alpha: 0.3);

$border-dark: 1px solid rgb(56, 68, 77);
$border-light: 1px solid rgba($color: $color-light-gray, $alpha: 0.5);
