//$color-primary: #1DA1F2;
$color-primary: #ee517d;
//$color-primary: #F9A82C;
$color-black: #14171a;
$color-dark-gray: #657786;
$color-light-gray: #aab8c2;
$color-extra-light-gray: #e1e8ed;
$color-bg: #15202b;
$color-fg: #ffffff;
$hr-color: #38444d;

$post-action-green: #17bf63;
$post-action-blue: #1da1f2;
$post-action-red: #e0245e;

$shadow-white: 0px 0px .5rem 0px rgba($color: $color-light-gray, $alpha: 0.3);

$border-dark: 1px solid rgb(56, 68, 77);
$border-light: 1px solid rgba($color: $color-light-gray, $alpha: 0.5);
